PORT=5000

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:********@localhost:3306/accredian"

CLIENT_ID='6169391*****************isunt97vs2.apps.googleusercontent.com'
CLIENT_SECRET='GOC**************tP_KpqJDKU'
REDIRECT_URI='https://developers.goo***********playground'
REFRESH_TOKEN='1//045ymtcVqvpBeCgYIARAAGAQSNwF-L9Ir956XRisU********************g7jF5Pqvic6T2vdwo8r5s2_1AmRMc'
USER_ID='akar**********il.com'
